#mainwd {
    padding: 100px;
    background-color: rgb(60, 59, 59);

}

#texto {
    font-weight: bolder;
    color: white;
}

#entry {
    padding: 150px;
}
#submeter {
    padding: 20px;
    border-radius: 20px;
}
#submeter:hover {
    opacity: 0.4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: darkred;
}